In [1]:
from collections import defaultdict

import numpy as np
import pandas as pd

In [5]:
train_orig = pd.read_csv('../datasets/train.csv')
test_orig = pd.read_csv('../datasets/test_unique.csv')

In [6]:
ques = pd.concat([train_orig[['question1', 'question2']], test_orig[['question1', 'question2']]], axis=0).reset_index(drop='index')
ques.shape

(2750086, 2)

In [7]:
q_dict = defaultdict(set)
for i in range(ques.shape[0]):
    q_dict[ques.question1[i]].add(ques.question2[i])
    q_dict[ques.question2[i]].add(ques.question1[i])

In [22]:
def q1_q2_intersect(row):
    return(len(set(q_dict[row['question1']]).intersection(set(q_dict[row['question2']]))))

In [23]:
train_orig['q1_q2_intersect'] = train_orig.apply(q1_q2_intersect, axis=1, raw=True)
test_orig['q1_q2_intersect'] = test_orig.apply(q1_q2_intersect, axis=1, raw=True)

In [24]:
train_orig.corr()

                       id      qid1      qid2  is_duplicate  q1_q2_intersect
id               1.000000  0.629373  0.641993     -0.008784        -0.003347
qid1             0.629373  1.000000  0.700140     -0.247072        -0.338874
qid2             0.641993  0.700140  1.000000     -0.260101        -0.340802
is_duplicate    -0.008784 -0.247072 -0.260101      1.000000         0.412979
q1_q2_intersect -0.003347 -0.338874 -0.340802      0.412979         1.000000

In [25]:
train_orig.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_q2_intersect
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,0

In [26]:
test_orig.head()

,test_id,question1,question2,q1_q2_intersect
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...,0
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?,0
2,2,What but is the best way to send money from Ch...,What you send money to China?,0
3,3,Which food not emulsifiers?,What foods fibre?,0
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?,0

In [27]:
columns = ['test_id', 'q1_q2_intersect']

In [30]:
train_orig[['id', 'q1_q2_intersect']].to_csv("../datasets/train_magic_feature_v2.csv", index=False)
test_orig[columns].to_csv("../datasets/test_magic_feature_v2.csv", index=False)